.carousel-item {
    transition: transform 0.5s ease;
}

.carousel-item img {
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
    transform: translateZ(0);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}